<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Monster Health</h2>
        <div class="healthbar">
          <div :style="{width : monsterhealth + '%'}" class="healthbar__value">{{monsterhealth}}&nbsp;%</div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Your Health</h2>
        <div class="healthbar">
          <div :style="playerStyle" class="healthbar__value">{{playerHealth}}&nbsp;%</div>
        </div>
      </section>
      <section class="container" v-show="winner">
        <div id="winner">
        <h2>Game Over!</h2>

        <h3 v-if="winner === 'player'">You Won!!!</h3>
        <h3 v-else-if="winner === 'monster'">You Lose!!!</h3>
        <h3 v-else>That's a draw</h3>

        <button @click="restart">Restart</button>
      </div>
      </section>
      <section id="controls">
        <button @click="attackPlayer">ATTACK</button>
        <button @click="specialAttack">SPECIAL ATTACK</button>
        <button @click="heal">HEAL</button>
        <button  @click="surrender">SURRENDER</button>
      </section>
      <section id="log" class="container">
        <h2>Battle Log</h2>
        <hr>
        <p>While you're resting the monster will also gain some health again... Be aware!</p>
        <h2 :style="healStyle">Heal Reserve: {{healReserve}}</h2>
        <hr>
        <p> If the monster has less than 50% life you can invoke a special attack</p>
        <h2>Special Attacks Reserve: {{specialAttacks}}</h2>
        <hr>
        <ul v-show="logs.length > 0">
          <li v-for="log in logs" ><p v-html="log"></p></li>
        </ul>
      </section>
    </div>
  </body>
</html>
